<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.2.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<import resource="services.xml" />

	<bean id="user" class="com.ttnd.linksharing.entities.User" scope="prototype" />
	<bean id="topic" class="com.ttnd.linksharing.entities.Topic"
		scope="prototype" />
	<bean id="subscription" class="com.ttnd.linksharing.entities.Subscription"
		scope="prototype" />
	<bean id="userController" class="com.ttnd.linksharing.controller.UserController" />

</beans>